
@{
    ViewBag.Title = "Backup";
}

@using (Html.BeginForm("form1", "Backup"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form-body">
        <div class="form-group">
            <label class="control-label col-md-2" for="UserId_1">用户Id</label>
            <div class="col-md-8">
                @Html.Editor("UserId_1", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="导出到APP数据" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("form2", "Backup"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form-body">
        <div class="form-group">
            <label class="control-label col-md-2" for="UserId_2">用户Id</label>
            <div class="col-md-8">
                @Html.Editor("UserId_2", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="(1) 删除用户数据" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("form3", "Backup"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form-body">
        <div class="form-group">
            <label class="control-label col-md-2" for="UserId_3">用户Id</label>
            <div class="col-md-8">
                @Html.Editor("UserId_3", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="(2) 恢复APP数据" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts {

}