@using AALife.WebMvc.Models.ViewModel;
@model PermissionMappingModel

@{
    ViewBag.Title = "角色权限";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="main">
                <script type="text/javascript">
                $(document).ready(function () {
                    @foreach (var cr in Model.AvailableUserRoles)
                    {
                        <text>
                        //全选
                        $('input[name=selectall-@(cr.SystemName.ToLower())]').click(function () {
                            $('input[name=allow-@(cr.SystemName.ToLower())]').attr('checked', $(this).is(':checked')).change();
                        });
                        //单选
                        $('input[name=allow-@(cr.SystemName.ToLower())]').click(function () {
                            var id = $(this).data("role");
                            var pid = $(this).val();
                            update_permission_role(pid, id);
                        });
                        </text>
                    }

                });
                </script>
                <table class="table table-hover table-bordered table-striped" id="maintable">
                    <tbody>
                        <tr>
                            <th scope="col">
                                <div class="checkbox">
                                    <strong>权限名称</strong>
                                </div>
                            </th>
                            @foreach (var cr in Model.AvailableUserRoles)
                            {
                                var guid = Guid.NewGuid();
                                <th scope="col" class="text-center">
                                    <div class="checkbox">
                                        <label>
                                            <input class="k-checkbox" id="@guid" type="checkbox" name="selectall-@(cr.SystemName.ToLower())" /><label for="@guid" class="k-checkbox-label k-no-text"></label>
                                            <strong>@cr.Name</strong>
                                        </label>
                                    </div>
                                </th>
                            }
                        </tr>
                        @foreach (var pr in Model.AvailablePermissions)
                        {
                            <tr>
                                <td>
                                    <span>@pr.Name</span>
                                </td>
                                @foreach (var cr in Model.AvailableUserRoles)
                                {
                                    var guid = Guid.NewGuid();
                                    var allowed = Model.Allowed.ContainsKey(pr.Id) && Model.Allowed[pr.Id][cr.Id];
                                <td class="text-center">
                                    <input class="k-checkbox" id="@guid" type="checkbox" data-role="@(cr.Id)" value="@(pr.Id)" name="allow-@(cr.SystemName.ToLower())" @(allowed ? " checked=checked" : "") /><label for="@guid" class="k-checkbox-label k-no-text"></label>
                                </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

@section scripts {
<script src="~/Areas/Manage/Scripts/permissions.js"></script>
}
