@model AALife.WebMvc.Models.ViewModel.UserDetailViewModel

@{
    ViewBag.Title = "用户信息";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="main">

                <!-- Nav tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-sm nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">用户设置</a></li>
                        <li role="presentation"><a href="#items" aria-controls="items" role="tab" data-toggle="tab">消费列表</a></li>
                        <li role="presentation"><a href="#categorytype" aria-controls="categorytype" role="tab" data-toggle="tab">商品类别</a></li>
                        <li role="presentation"><a href="#card" aria-controls="card" role="tab" data-toggle="tab">我的钱包</a></li>
                        <li role="presentation"><a href="#zhuanti" aria-controls="zhuanti" role="tab" data-toggle="tab">我的专题</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="settings">
                            <div id="userdetail">
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">荣耀</h3>
                                    </div>
                                    <div class="box-body">
                                        您已记账 @Model.JoinDay 天，共添加消费 @Model.ItemCount 笔。
                                    </div>
                                </div>
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">角色</h3>
                                    </div>
                                    <div class="box-body">
                                        @Html.Partial("_UserRole", Model.UserRoleLists)
                                    </div>
                                </div>
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">岗位</h3>
                                    </div>
                                    <div class="box-body">
                                        <div id="positiongrid"></div>
                                    </div>
                                </div>
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">部门</h3>
                                    </div>
                                    <div class="box-body">
                                        <div id="deptmentgrid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="items">
                            <div id="items-grid"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="categorytype">
                            <div id="categorytype-grid"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="card">
                            <div id="card-grid"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="zhuanti">
                            <div id="zhuanti-grid"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<script src="~/Areas/Manage/Scripts/users.js"></script>

<script>
    $(document).ready(function () {

        //组织列表
        var deptment = $("#deptmentgrid").kendoGrid($.extend(true, {}, $.const.kendolite, {
            dataSource: {
                transport: {
                    read: {
                        url: String.format($.const.webapi.usersdeptment_id, '@Model.Id')
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string", editable: false, defaultValue: kendo.guid() },
                            Name: { type: "string" },
                            Code: { type: "string" },
                            ParentId: { type: "string", nullable: true, defaultValue: null },
                            Parent: { defaultValue: null },
                            Notes: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            filterable: false,
            //toolbar: [{ name: "select", text: "选择", iconClass: "k-icon k-i-search" }, { name: "delete", text: "移除", iconClass: "k-icon k-i-delete" }],
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Name",
                    title: "组织名称",
                    width: 200
                },
                {
                    template: "#= data.Parent ? Parent.Name : '' #",
                    field: "Parent",
                    title: "上级组织",
                    width: 200
                },
                {
                    field: "Code",
                    title: "组织编码",
                    width: 100
                },
                {
                    field: "Notes",
                    title: "描述",
                    width: 100
                }
            ]
        }));

        //岗位列表
        var position = $("#positiongrid").kendoGrid($.extend(true, {}, $.const.kendolite, {
            dataSource: {
                transport: {
                    read: {
                        url: String.format($.const.webapi.usersposition_id, '@Model.Id')
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string", editable: false, defaultValue: kendo.guid() },
                            ParentId: { type: "string", nullable: true, defaultValue: null },
                            Parent: { defaultValue: null },
                            DeptmentId: { type: "string", nullable: true, defaultValue: null },
                            Code: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                            Name: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                            Notes: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            filterable: false,
            toolbar: [{ name: "select", text: "选择", iconClass: "k-icon k-i-search" }, { name: "delete", text: "移除", iconClass: "k-icon k-i-delete" }],
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Name",
                    title: "岗位名称",
                    width: 200
                },
                {
                    template: "#= data.Parent ? Parent.Name : '' #",
                    field: "Parent",
                    title: "上级岗位",
                    width: 200
                },
                {
                    field: "Code",
                    title: "岗位编码",
                    width: 100
                },
                {
                    field: "Notes",
                    title: "描述",
                    width: 100
                }
            ]
        }));
        
        //岗位用户选择按钮事件
        $("#positiongrid .k-grid-toolbar").on("click", ".k-grid-select", function (e) {
            e.preventDefault();

            // ext dialog
            $.when(kendo.ui.ExtCommonDialog.show({
                width: "1000px",
                height: "500px",
                content: "/Manage/Home/DeptmentPositionSelect",
                title: "选择岗位"
            })).done(function (response) {
                if (response.selected) {
                    insert_usersposition('@Model.Id', response.selected, function (d) {
                        kendoui_ajax_complete();
                        var grid = $("#positiongrid").data("kendoGrid");
                        grid.dataSource.read();
                        $("#deptmentgrid").data("kendoGrid").dataSource.read();
                    });
                }
            });
        });

        //岗位用户删除按钮事件
        $("#positiongrid .k-grid-toolbar").on("click", ".k-grid-delete", function (e) {
            e.preventDefault();

            var items = $("#positiongrid tbody .k-state-selected");
            if (items.length > 0) {
                var result = [];
                var grid = $("#positiongrid").data("kendoGrid");
                for (var i = 0; i < items.length; i++) {
                    var dataItem = grid.dataItem(items[i]);
                    result.push(dataItem);
                }
                delete_usersposition('@Model.Id', result, function (d) {
                    kendoui_ajax_complete();
                    grid.dataSource.read();
                    $("#deptmentgrid").data("kendoGrid").dataSource.read();
                });
            }
        });

    });
</script>

@section scripts {
    <!--消费-->
    <script>
        $(document).ready(function () {
            //刷新高度
            //resizeMain("#items");

            $("#items-grid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
                dataSource: {
                    transport: {
                        read: {
                            url: $.const.webapi.items,
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            cache: false,
                            data: function () {
                                return { userId: '@Model.Id' }
                            }
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "Id",
                            fields: {
                                Id: { type: "number" },
                                ItemName: { type: "string" },
                                CategoryTypeId: { type: "string" },
                                ItemPrice: { type: "number" },
                                ItemBuyDate: { type: "date" },
                                UserId: { type: "string" },
                                Recommend: { type: "number" },
                                ModifyDate: { type: "date" },
                                Synchronize: { type: "number" },
                                ItemAppId: { type: "number" },
                                RegionId: { type: "number" },
                                RegionType: { type: "string" },
                                ItemType: { type: "string" },
                                ZhuanTiId: { type: "string" },
                                CardId: { type: "string" },
                                Remark: { type: "string" }
                            }
                        }
                    },
                    pageSize: $.const.default.PageNumber,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: $.const.default.PageNumbers,
                },
                columns: [
                {
                    field: "Id",
                    title: "编号",
                    width: 80
                },
                {
                    //template: "#= ItemTypeName #",
                    field: "ItemType",
                    values: @Html.Raw(Json.Encode(ViewBag.DataItemType)),
                    title: "分类",
                    width: 80,
                    searchbar: "multeselect",
                    filterable: { //TODO:ItemTypeName不能查询，应该要ItemType
                        multi: true,
                        dataSource: @Html.Raw(Json.Encode(ViewBag.DataItemType)),
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.value #'/> #= data.text || data.all #</label></li>";
                        }
                    }
                },
                {
                    field: "ItemName",
                    title: "商品名称",
                    width: 150,
                    searchbar: {
                        type: "autocomplete",
                        url: "/api/v1/itemnamesapi?id="
                    }
                },
                {
                    template: "#= CategoryTypeName ? CategoryTypeName : '' #",
                    field: "CategoryTypeId",
                    title: "商品类别",
                    width: 150,
                    filterable: kendoui_comboboxin_filter("/api/v1/categorytypenamesapi"),
                    searchbar: {
                        type: "comboboxin",
                        url: "/api/v1/categorytypenamesapi"
                    }
                },
                {
                    field: "ItemPrice",
                    title: "价格",
                    format: "{0:#,0.###}",
                    attributes: { style: "text-align: right" },
                    width: 100,
                    searchbar: "numberrange"
                },
                {
                    field: "ItemBuyDate",
                    title: "日期",
                    width: 100,
                    format: "{0:yyyy/MM/dd}",
                    searchbar: {
                        type: "daterange",
                        default: today_date()
                    }
                },
                {
                    template: "#= UserName #",
                    field: "UserId",
                    title: "用户名",
                    width: 100,
                    filterable: kendoui_comboboxin_filter("/api/v1/usernamesapi"),
                    searchbar: {
                        type: "combobox",
                        url: "/api/v1/usernamesapi"
                    }
                },
                {
                    template: "#= Recommend == 1 ? '<i class=\"fa fa-check\"></i>' : '<i class=\"fa fa-close\"></i>' #",
                    attributes: { class: "text-center" },
                    field: "Recommend",
                    title: "推荐否",
                    width: 90,
                    filterable: {
                        multi: true,
                        dataSource: $.const.default.TrueFalse,
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.value #'/> #= data.text || data.all #</label></li>";
                        }
                    }
                },
                {
                    field: "ModifyDate",
                    title: "修改日期",
                    width: 160,
                    format: "{0:yyyy/MM/dd HH:mm:ss}",
                    searchbar: "date"
                },
                {
                    template: "#= Synchronize == 1 ? '<i class=\"fa fa-check\"></i>' : '<i class=\"fa fa-close\"></i>' #",
                    attributes: { class: "text-center" },
                    field: "Synchronize",
                    title: "同步否",
                    width: 90,
                    filterable: {
                        multi: true,
                        dataSource: $.const.default.TrueFalse,
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.value #'/> #= data.text || data.all #</label></li>";
                        }
                    }
                },
                {
                    field: "RegionType",
                    values: @Html.Raw(Json.Encode(ViewBag.DataRegionType)),
                    title: "固定",
                    width: 80,
                    searchbar: "dropdown",
                    filterable: {
                        multi: true,
                        dataSource: @Html.Raw(Json.Encode(ViewBag.DataRegionType)),
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.value #'/> #= data.text || data.all #</label></li>";
                        }
                    }
                },
                {
                    template: "#= CardName #",
                    field: "CardId",
                    title: "钱包",
                    width: 100,
                    filterable: kendoui_comboboxin_filter("/api/v1/cardnamesapi"),
                    searchbar: {
                        type: "comboboxin",
                        url: "/api/v1/cardnamesapi"
                    }
                },
                {
                    template: "#= ZhuanTiName ? ZhuanTiName : '' #",
                    field: "ZhuanTiId",
                    title: "专题",
                    width: 100,
                    filterable: kendoui_comboboxin_filter("/api/v1/zhuantinamesapi"),
                    searchbar: {
                        type: "comboboxin",
                        url: "/api/v1/zhuantinamesapi"
                    }
                },
                {
                    field: "Remark",
                    title: "备注",
                    width: 150,
                    searchbar: "text"
                }
            ]
            }));

        });
    </script>

    <!--类别-->
    <script>
        $(document).ready(function() {
            $("#categorytype-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: String.format($.const.webapi.categorytypes, '@Model.Id'),
                            dataType: "json",
                        }
                    },
                    schema: {
                        data: "rows",
                        total: "records"
                    }
                },
                columns: [
                    {
                        field: "CategoryTypeId",
                        title: "编号",
                        width: 150
                    },
                    {
                        field: "CategoryTypeName",
                        title: "商品类别",
                        width: 150
                    }
                ]
            });
        });
    </script>

    <!--钱包-->
    <script>
        $(document).ready(function() {
            $("#card-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: String.format($.const.webapi.cards, '@Model.Id'),
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "rows",
                        total: "records"
                    }
                },
                columns: [
                    {
                        field: "CardId",
                        title: "编号",
                        width: 150
                    },
                    {
                        field: "CardName",
                        title: "钱包名称",
                        width: 150
                    }
                ]
            });
        });
    </script>

    <!--专题-->
    <script>
        $(document).ready(function() {
            $("#zhuanti-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: String.format($.const.webapi.zhuantis, '@Model.Id'),
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "rows",
                        total: "records"
                    }
                },
                columns: [
                    {
                        field: "ZhuanTiId",
                        title: "编号",
                        width: 150
                    },
                    {
                        field: "ZhuanTiName",
                        title: "专题名称",
                        width: 150
                    }
                ]
            });
        });
    </script>

}