@model AALife.Data.Domain.UserSettings
@using AALife.Core.Infrastructure;
@{
    var pictureService = EngineContext.Current.Resolve<AALife.Core.Services.Media.IPictureService>();
    const int pictureSize = 100;
}
<form action="@Url.Action("UserSettings", "User")" method="post" class="form-horizontal" id="user-settings">
    <fieldset>
        <legend>设置</legend>
        <div class="form-group">
            <label class="control-label col-md-2" for="PageNumber">列记录条数</label>
            <div class="col-md-4">
                <input class="form-control" id="PageNumber" name="PageNumber" type="number" value="@Model.PageNumber" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="PageNumber">工作日</label>
            <div class="col-md-4">
                <select class="form-control" id="UserWorkDay" name="UserWorkDay" data-bind="value: '@Model.UserWorkDay', options: userWorkDays, optionsText: 'Value', optionsValue: 'Key', optionsCaption: '---'"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="PageNumber">网站背景</label>
            <div class="col-md-4">
                <input type="hidden" id="BackgroundImageId" name="BackgroundImageId" value="@Model.BackgroundImageId" />
                <div class="row">
                    <div class="col-md-12">
                        <a href="javascript:;" class="fileinput-button">
                            <img class="uploaded-image" src="@(pictureService.GetPictureUrl(Model.BackgroundImageId, pictureSize, false))" />
                            <input id="fileupload" type="file" name="files[]" title="请选择文件" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="保存" class="btn btn-flat btn-primary" />
            </div>
        </div>
    </fieldset>
</form>
<script>
    $(function () {
        $('form').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        alert("ok");
                    }
                });
            }
            return false;
        });

        $('.fileinput-button').fileupload({
            url: '@(Url.Content("~/Picture/AsyncUpload"))',
            dataType: 'json',
            done: function (e, data) {
                let picture = data.result;
                if (picture.success) {
                    $(".uploaded-image").attr("src", picture.imageUrl);
                    $("#BackgroundImageId").val(picture.pictureId);
                    $("body").css("background-image", String.format("url({0})", picture.imageUrl.replace('/thumbs', '').replace('_100', '_0')));
                }
            }
        });
    });

    var viewModel = {
        userWorkDays: ko.observableArray($.const.data.userworkday)
    };

    //bindings
    ko.applyBindings(viewModel, document.getElementById('user-settings'));
</script>