@model AALife.WebMvc.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "用户中心";
}

<!--jquery uploader-->
<link href="~/Scripts/jQuery-File-Upload/css/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="~/"><i class="fa fa-home"></i> 首页</a></li>
                <li><a href="~/Item">消费列表</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_pf" data-toggle="tab">个人资料</a></li>
                            <li><a href="#tab_bd" data-toggle="tab">绑定管理</a></li>
                            <li><a href="#tab_ct" data-toggle="tab">类别管理</a></li>
                            <li><a href="#tab_cd" data-toggle="tab">钱包管理</a></li>
                            <li><a href="#tab_zt" data-toggle="tab">专题管理</a></li>
                            <li><a href="#tab_zz" data-toggle="tab">转账管理</a></li>
                            <li><a href="#tab_da" data-toggle="tab">数据管理</a></li>
                            <li><a href="#tab_st" data-toggle="tab">个人设置</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_pf">

                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_bd">

                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_ct">
                                @Html.Partial("_CategoryPage")
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_cd">
                                @Html.Partial("_CardPage")
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_zt">
                                @Html.Partial("_ZhuanTiPage")
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_zz">
                                @Html.Partial("_ZhuanZhangPage")
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_da">

                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_st">
                                @Html.Partial("_SettingPage", Model.UserSettings, new ViewDataDictionary())
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

@section scripts {
    <!-- user js -->
    <script src="~/Scripts/datas/user.js"></script>
}